
.cart{
    display: flex;
    position: fixed;
    width: 350px;
    max-width: 414px;
    height: 100vh;
    z-index: 2;
    align-items: flex-start;
    top: 0;
    justify-content: space-between;
    left: -600px;
    background: var(--color-background);
    background-image: url(../../assets//bg-icons-1.png);
    transition: .7s;
    padding: 70px 20px 25px;
    flex-direction: column;
    -webkit-box-shadow: 9px 0 11px 3px #00000068;
    -moz-box-shadow: 9px 0 11px 3px #00000068;
    box-shadow: 9px 0 11px 3px #00000068;
}
.cart-items{
    width: 100%;
    overflow:auto;
    flex-grow: 1;
}
.cart-resume{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    padding: 35px 0 15px 0;
    border-top: 1px solid var(--color-black);
    color: var(--color-primary);
    font-weight: 900;
}
.cart-items .cart-item:last-child{
    border-bottom: none;
}
.cart-active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition:.7s ;
}
.button-perdi-item{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 11px;
    padding: 10px;
    background: var(--color-primary);
    color: #fff;
    font-size: 0.90em;
    font-weight: bold;
}
.button-perdi-item svg{
    margin-right: 5px;
    font-size: 35px;
    color: aliceblue;
}

@media screen and (max-width: 512px) {
    .cart{
        width: 100%;
    }
}
