.refeicoes{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px;
    margin-bottom: 1em;
    background: url(../../assets/bg-icons-1.png)center/cover;
}
.refeicoes::-webkit-scrollbar{
    display: none;
}
.Contenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
}
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 24rem;
    border-radius: 20px;
    margin: 1em;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.246);
    
}
.Card:hover{
    background: var(--color-primary);
    transition: .7s;
}


.favorites{
    padding: 15px;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    position: absolute;
}
.Card img{
    border-radius: 50%;
    object-fit: cover;
    width: 170px;
    height: 170px;
    margin-bottom: 1em;
}
.Card .tituloRef{
    width: 300px;
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
    color: var(--color-black)!important;
    border: none;
    background: transparent;
    white-space: pre-line;
}
.Card p{
    max-width: 290px;
    white-space: pre-wrap;
    color: #6e6e6e;
    font-size: 15px;
    padding: auto;
    margin-bottom: 1em;
}
.Card strong{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 900;
}
.Card div{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding: 15px 0px 15px 0px;
    position: absolute;
    transition: .7s;
}
.Card:hover > div{
    opacity: 1;
    transition: .7s;
}
.Card div span{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.2em;
    font-size: 30px;
    color: var(--color-black)!important;
}

.Card div span:nth-child(2){
    margin-left: 0.5em;
    margin-right: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.Card div button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: var(--color-black)!important;
    margin-left: 1em;
    width: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 512px) {
    .refeicoes{
        margin-right: 0;
        width: 100%;
        overflow-y: scroll;
        white-space: nowrap;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 1px;
        margin-bottom: 1em;
        flex-wrap: nowrap;
    }
    .Contenter{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px auto 6px;
        justify-content: flex-start;
        position: relative;
        
    }
    .Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 130px;
    width: 90%;
    padding-left: 10px;
    justify-content: center;
    align-items: start;
    
    }
    .Card img{
        
        width: 85px;
        height: 85px;
        border-radius: 11%;
        margin-top: 20px;
    }
    .Card strong{
        font-size: 25px;
        position: absolute;
        bottom: -35px;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--color-primary);
        transition: .7s;
    }
    .Card:hover > strong{
        bottom: 5px;
        color:  var(--color-black);
        transition: .7s;
    }
    .Card p{
        display: none;
    }
    .Card div{
        display: none;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: 0;
        padding: 5px 50px 5px 0px;
        position: absolute;
        transition: .7s;
    }
    .Card:hover > div{
        display: flex;
        transition: .7s;
    }
    .Card .tituloRef{
        color: var(--color-black);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 40px;
        text-align: center;
        margin-right: 5rem;
        margin-top: 15px;
        margin-bottom: 0px;
        transition: .7s;
    }
    .Card:hover > .tituloRef{
        opacity: 0;
        transition: .7s;
    }
    
}
