/* input:invalid{
    color: rgb(225, 69, 69);
    animation: ivalido 500ms;
    box-shadow: 0px 0px 10px 2px rgb(255, 17, 0);
    
    
} */

input:valid{
    color: rgb(58, 207, 78);
}
textarea:valid{
    color: rgb(58, 207, 78);
}

.text{
    text-align: center;
}

@keyframes ivalido{
    25%{
        transform: translateX(6px);
    }
    50%{
        transform: translateX(-6px);
    }
    75%{
        transform: translateX(6px);
    }
}
