.cart-item{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    padding-right: 15px;
}
.cart-img{
    width: 70px;
    height: 70px;
    border-radius: 11px;
    object-fit: cover;
}
.cart-item-content{
    padding: 0 80px 0 20px;
}
.cart-item-titulo{
    font-size: 0.85rem;
    margin-bottom: 8px;
}
.cart-item-preco{
    font-weight: 900;
    color: var(--color-primary);
}
.button-remove-item{
    position: absolute;
    right: 0;
    top: 20px;
    max-width: 99px;
    border: none;
    border-radius: 11px;
    padding: 8px;
    background: var(--color-primary);
    color: #fff;
    font-size: 0.90em;
    font-weight: bold;
}
.btn--mais--menos span{
    cursor: pointer;
}