@font-face {
  font-family: 'PoppinsMedium';
  src: url('./fonts/Poppins-Medium.otf');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('./fonts/Poppins-Regular.otf');
}


:root{
  --color-background: #fffdf7;
  --color-svg: #212121;
  --color-black-heavy: #000000;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
}

:root .cupcake-theme{
  --color-background: #fffdf7;
  --color-svg: #FFFADD;
  --color-black-heavy: #FFFADD;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #FFA1F5;
  --color-secondary: #D0BFFF;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #A6FF96;
  --color-separate: #8DDFCB;
}

:root .dark-theme{
  --color-background: #1B2430;
  --color-black: #212121;
  --color-black-heavy: #000000;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, #root{
  width: 100%;
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-background);
  font-family: 'PoppinsRegular', 'Rubik', sans-serif;
 
}
b{
  font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
button{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #750310;
}
::-webkit-scrollbar{
  display: none;
}